.home-header {
  margin-top: -120px;
  height: 100vh;
  p {
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    line-height: 38px;
    margin-bottom: 28px;
  }
  h1 {
    font-size: 81px;
    margin-bottom: 40px;
    margin-top: 200px;
    color: #FFFFFF;
    font-weight: 900;
  }
}