.header-subscribe {
  padding: 20px;
  background-color: #DCDCDC;
  p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
}
.subscribe-bar-margin {
  margin-bottom: 100px;
}