.footer-body {
  background-color: $green1;
  color: #FFFFFF;
  padding: 70px 0 30px;
  p {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    font-weight: 200;
  }
  ul {
    line-height: 28px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 200;
    a {
      color: #FFFFFF;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .footer-social {
    .social-icon {
      margin: 15px 20px 0 0;
      width: 30px;
    }
    p {
      margin-bottom: 37px;
    }
  }
}