.testimonial {
  margin-top: -80px;
  margin-bottom: 40px;
  p {
    margin-top: 60px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 36px;
    font-size: 24px;
    span {
      display: block;
      font-weight: 200;
      margin-top: 20px;
    }
  }
}